@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 90vh;
}

/* CANVAS */

#canvas {
    display: block;
}

/* HELP */

#help {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#help img { max-width: 30px; }

/* SOCIAL LINKS */
#social-links {
    position: fixed;
        bottom: 15px;
        left: 15px;
    display: flex;
    align-items: center;
}
   
#social-links p {
    padding: 10px;
    color: #a0a0a0;
    font-family: 'Poppins', sans-serif;
}

#waves {
    color:#464646;
    font-weight: 900;
    background-position: 0 100%;
    background-repeat: repeat-x;
}

#waves:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-size: auto 6px;
}